@model OrderCreateViewModel

@{
    ViewData["Title"] = "Create Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="loginpagetext buytext">Create Order</h1>

<div class="row">
    <div class="col-md-4 blockorder">
        <div class=" ">
            <form asp-action="Create" class="maform" asp-controller="Order">
                @Html.HiddenFor(m => m.TicketId)
                @Html.HiddenFor(m => m.BuyerId)
                <div class="form-group">
                    <label class="control-label"><strong>Event:</strong></label>
                    @ViewData["EventName"]
                </div>
                <div class="form-group">
                    <label class="control-label"><strong>Price:</strong></label>
                    @ViewData["TicketPrice"]
                </div>
                <div class="form-group">
                    <label class="control-label"><strong>Buyer:</strong></label>
                    @ViewData["BuyerName"]
                </div>
                <input type="submit" value="Sent Order" class="btnsend btnsentorder"/>
                <a asp-action="Index" asp-controller="Event" class="btncancel">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

