@model OrderViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "SalesRequest";
}

<h1 class="loginpagetext buytext">@Localizer["Your requests for sale"]</h1>
<div class="block1">
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Event"]</th>
                <th>@Localizer["Price"]</th>
                <th>@Localizer["Buyer"]</th>
                <th>@Localizer["Status"]</th>
                <th></th>
            </tr>
        </thead>
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        <tbody>
            @foreach (var order in Model.Orders.Reverse())
            {
                <tr>
                    <td>@order.Ticket.Event.Name</td>
                    <td>@order.Ticket.Price</td>
                    <td>@order.Buyer.UserName</td>
                    @if (order.Status == Task1_Homework.Business.TicketSaleStatus.Rejected)
                    {
                        <td>@order.Status</td>
                        <td>
                            @Html.ActionLink("Delete", "CancelOrder", "Order", new { id = order.Id, }, new { @class = "btncancel" })
                        </td>
                    }
                    else if (order.Status == Task1_Homework.Business.TicketSaleStatus.Sold)
                    {
                        <td>@order.Status</td>
                        <td>@order.TrackNumber</td>
                    }
                    else
                    {
                        <td>@order.Status</td>
                        <td>
                            @Html.ActionLink("Accept", "Accept", "Order", new { id = order.Id, }, new { @class = "btnsend compItem" }) |
                            @Html.ActionLink("Reject", "Reject", "Order", new { id = order.Id, }, new { @class = "btncancel" })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="/dist/modulewindow.entry.js" type="module" defer></script>
}